/********** Template CSS **********/
:root {
    --primary: #8B2B1F;
    --light: #F1F8FF;
    --dark: #FFDB58;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.booking {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


/*** Service ***/
.service-item {
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
}

.service-item i,
.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF !important;
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/tesimony-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-carousel {
    padding-left: 65px;
    padding-right: 65px;
}

.testimonial-carousel .testimonial-item {
    padding: 30px;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 2px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: #FFFFFF;
}


/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Footer ***/
.newsletter {
    position: relative;
    z-index: 1;
}

.footer {
    position: relative;
    margin-top: -110px;
    padding-top: 180px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.team-img{
    height: 200px;
}
.shadow1{
    height: 350px;
}

.shadow2{
    height: 400px;
}

.room-size{
    height: 400px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/*************************banner Search***********************/
.banner-search-form {
    background: rgba(255,255,255,0.85);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    padding: 20px;
}

.banner-search-form h2 {
    color: #dd572a;
    font-size: 55px;
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 0;
    text-shadow: none;
}

.checkboxWrap {
    margin: 0 0;
}

.checkboxWrap .checkCol {
    float: left;
    /*width: 16.66%;*/
    width:25%;
    padding: 0 5px;
    text-align: left;
}

.search-filter-Row {
    border: 1px solid #afafaf;
    border-radius: 5px;
}

.common-cols {
    width: 11.66%;
    float: left;
    padding: 10px 5px;
    border-right: 1px solid #d5d6d6;
}

.common-cols:last-child {
    border-right: 0 none;
}

.common-cols.city-coloumn {
    width: 21%;
}

.bookingTypRow {
    text-align: center;
}

.bookingTypRow .radioCol {
    display: inline-block;
    margin-right: 5px;
}

.banner-search-form .type {
    font-size: 18px;
    color: #7770b7;
    text-align: center;
    margin-bottom: 10px;
}

.banner-search-form .type span.bookingIcon {
    background: url(../images/booking-type-icon.png) left center no-repeat;
    padding-left: 20px;
    display: inline-block;
}

.bookingTypRow {
    margin-bottom: 10px;
}

.radio-warp .radioCol {
    position: relative;
}

.radio-warp .radioCol input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.radio-warp .radioCol label {
    position: relative;
    font-size: 18px;
    color: #7a7a7a;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-transform: none;
}

.radio-warp .radioCol label:before {
    background: #fff;
    position: absolute;
    border: 1px solid #585858;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    content: "";
    position: absolute;
    left: 7px;
    top: 50%;
    width: 19px;
    height: 19px;
    margin-top: -10px;
}

.radio-warp .radioCol input[type="radio"]:checked + label {
    background: #7770b7;
    color: #fff;
}

.radio-warp .radioCol input[type="radio"]:checked + label:before {
    background: #7770b7;
    border-width: 5px;
    border-color: #fff;
}

.common-cols .input-group {
    position: relative;
}

.common-cols .input-group .input-group-prepend, .common-cols .input-group .input-group-append {
    position: absolute;
    right: 0;
    z-index: 111;
}

.common-cols .input-group .input-group-append {
    top: 2px;
}

.common-cols .input-group .input-group-prepend {
    bottom: 2px;
}

.common-cols .input-group .btn.btn-decrement, .common-cols .input-group .btn.btn-increment {
    background: none;
    color: #585858;
    padding: 0;
    min-width: auto;
    min-height: auto;
    height: auto;
    width: auto;
}

.common-cols .input-group .btn.btn-decrement strong, .common-cols .input-group .btn.btn-increment strong {
    display: none;
}

.common-cols .input-group .btn.btn-decrement {
    background: left top no-repeat;
    width: 12px;
    height: 6px;
}

.common-cols .input-group .btn.btn-increment {
    background: left top no-repeat;
    width: 12px;
    height: 6px;
}

.search-filter-Row .common-cols input {
    border-bottom: 0 none;
    text-align: left !important;
    color: #7a7a7a;
    font-size: 14px;
    padding: 5px;
}

.search-filter-Row .common-cols input:focus {
    outline: none;
    box-shadow: none;
}

.search-filter-Row .common-cols label, .search-filter-Row .col-sm-4 label {
    font-size: 16px;
    color: #7770b7;
    margin-bottom: 3px;
    padding-left: 25px;
    text-transform: none;
    line-height: 24px;
}

.cityIcon {
    background: url(../img/map-marker-icon.png) left center no-repeat;
    padding-left: 20px;
}

.calenderIcon {
    background: url(../img/calender-icon.png) left center no-repeat;
    padding-left: 25px;
}

.adultIcon {
    background: url(../img/adult-cion.png) left center no-repeat;
    padding-left: 30px !important;
}

.childrenIcon {
    background: url(../img/children-icon.png) left center no-repeat;
    padding-left: 30px !important;
}

.RatingIcon {
    background: url(../img/rating-icon.png) left center no-repeat;
    padding-left: 25px;
}

.priceIconWrap {
    background: url(../img/price-icon.png) left center no-repeat;
    padding-left: 25px;
}

.hotelfacilitiesIcon {
    background: url(../img/hotel-facilities-icon.png) left center no-repeat;
}

.facilitiesIcon {
    background: url(../img/room-facilities.png) left center no-repeat;
}

.advanceSearchRow {
    display: none;
}

.banner-search-form .btn-row {
    margin-top: 20px;
    text-align: center;
}

.banner-search-form .btn-row .common-btn {
    background: #7770b7;
    color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    border: 0 none;
    min-width: 150px;
}

.search-filter-Row {
    margin-bottom: 20px;
}

.facilityCheckWrap {
    height: 80px;
    overflow: auto;
}

.advSearchLink {
    margin-top: -10px;
    margin-bottom: 25px;
    display: inline-block;
    color: #dd572a;
    position: relative;
    padding-left: 10px;
}

.advSearchLink:hover, .advSearchLink:focus, .advSearchLink:active, .advSearchLink:visited {
    color: #dd572a;
}

.advSearchLink:before {
    background: url(../images/arrow-icon.png) left top no-repeat;
    width: 14px;
    height: 9px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    position: absolute;
    left: 105%;
    top: 50%;
    margin-top: -4px;
    content: "";
}

.advSearchLink.active:before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.advanceSearchRow {
    padding: 15px 10px;
}

.facilityCheckWrap {
    margin: 20px 0 0px;
}

.checkboxWrap .checkCol {
    position: relative;
}
.priva{
    padding: 10px;
}

/*************************banner Search***********************/
.banner-search-form {
    background: rgba(255,255,255,0.85);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    padding: 20px;
}

.banner-search-form h2 {
    color: #dd572a;
    font-size: 55px;
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 0;
    text-shadow: none;


# Frequently Asked Questions
  --------------------------------------------------------------*/

/* Default font and colours */
body {
    font-family: sans-serif;
    font-weight: 400;
    max-width: 1600px;
}

h1, h2, h3 {
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: 400;
    color: #230cea;
    margin-bottom: 4px
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}

h2 span, h3 span {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-weight: 500;
    letter-spacing: -1px
}


p, li, td { font-family: 'Roboto', sans-serif; color: #023753; }


/* ==== CONTAINER FOR SINGLE COLUMN OF CONTENT ==== */

/* Desktop */
@media all and (min-width:768px) { .wrapper-content { padding: 2% 21% 1% 21% } }

/* Mobiles */
@media all and (max-width:767px) { .wrapper-content { padding: 4% 8% 2% 9% } }

/* Headings */
.wrapper-content h1 {
    line-height: 1.3; margin-bottom: 12px;
    font-size: calc(32px + (48 - 32) * ((100vw - 320px)/(1600 - 320)));
}

.wrapper-content h2 {
    line-height:1.3;
    font-size: calc(22px + (38 - 22) * ((100vw - 320px)/(1600 - 320)));
}

.wrapper-content h3 {
    line-height:1.3;
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));
}

/* Paragraphs and bullets */
.wrapper-content p,
.wrapper-content li {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1600 - 320)));
}

.wrapper-content ul li { list-style-type: none }
.wrapper-content ul li:before {
    display: inline-block;
    content: '\2192'; /* Safari*/
    content: '\01F87A';
    color: #230cea;
    transform: translateY(2px);
}

/* Safari 6.1-10.0 (not 10.1) */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    .wrapper-content ul li:before { content: '\2192' }
}}


/* Safari 10.1 */

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
    .wrapper-content ul li:before { content: '\2192'; }
}}


.wrapper-content p b,
.wrapper-content ul li b,
.wrapper-content ol li b,
.wrapper-content ol li ul li b { color: #000 }

.wrapper-content p a, .wrapper-content li a {
    font-weight: normal;
    color: #230cea;
    text-decoration: none;
    padding-bottom:2px;
    border-bottom-width: 2px;
    border-bottom-style: solid
}

.wrapper-content p a:link, .wrapper-content li a:link,
.wrapper-content p a:visited, .wrapper-content li a:visited {
    border-bottom-color: #230cea;
}

.wrapper-content p a:hover, .wrapper-content li a:hover,
.wrapper-content p a:active, .wrapper-content li a:active {
    border-bottom-color: #e74c3c;
}

/* Desktops */
@media screen and (min-width: 768px) {
    .wrapper-content h2 { margin: 0 0 4px 0 }
    .wrapper-content h3 { margin: 48px 0 4px 0 }
    .wrapper-content p  { margin: 0 0 24px 0; line-height: 1.6 }
    .wrapper-content ul, .wrapper-content ol { margin: 0 0 24px 20px }

    .wrapper-content p + ul { margin-top: -12px }
    .wrapper-content p + ol { margin-top: 12px }
    .wrapper-content ul { margin: 0 0 32px 0 }
    .wrapper-content ul { list-style-position: inside }
    .wrapper-content ul li {
        padding-left: 20px ;
        text-indent: -20px ;
        margin: 0 32px 20px 20px;
        line-height: 1.6
    }
    .wrapper-content ul li:before { margin-right: 20px }
}


/* Mobiles */
@media screen and (max-width: 767px) {
    .wrapper-content h2 { margin: 0 0 4px 0 }
    .wrapper-content h3 { margin: 12px 0 4px 0 }
    .wrapper-content p  { margin: 0 0 16px 0; line-height: 1.4 }
    .wrapper-content ul, .wrapper-content ol { margin: 0 0 12px 20px }

    .wrapper-content p + ul { margin-top: -4px }
    .wrapper-content p + ol { margin-top: -4px }
    .wrapper-content ul { margin: 0 0 24px 0 }
    .wrapper-content ul { list-style-position: inside }
    .wrapper-content ul li {
        line-height: 1.4;
        padding-left: 18px ;
        text-indent: -18px ;
        margin: 0 0 18px 18px
    }
    .wrapper-content ul li:before { margin-right: 18px; font-size: 90% }
}

.wrapper-content img { margin: 32px 0 40px 0 }

/* === Numbered Lists === */

.wrapper-content       ol { list-style-type: none; counter-reset: li-counter }
.wrapper-content  ol > li { position: relative }

.wrapper-content ol >  li:before {
    position: absolute; top: 6px; left: -32px; line-height: 1.2; text-align: center;
    border-radius: 50%; padding: 2px 4px 2px 4px; font-weight: bold; color: #fff; background-color: #230cea;
    content: counter(li-counter); counter-increment: li-counter;
}

/* Desktops */
@media screen and (min-width: 768px) {
    .wrapper-content ol { margin: 28px 0 20px 32px }
    .wrapper-content ol > li:before { width: 30px; height: 30px; padding-top: 5px; padding-bottom: 16px }
    .wrapper-content ol > li { margin-bottom: 32px; padding-left: 20px; line-height: 1.7; font-weight: normal  }
    .wrapper-content ol > li img { margin: 20px 0 30px 0 }
    .wrapper-content ol > li span.inside-ol,
    .wrapper-content ul > li span.inside-ol { display: block; line-height:1 }
    .wrapper-content ol > li > ul { margin: 12px 0 0 16px; list-style-type: disc }
    .wrapper-content ol > li > ul > li { padding-left: 24px; margin: 0 0 12px 0 }
}

/* Mobiles */
@media screen and (max-width: 767px) {
    .wrapper-content ol { margin: 0 0 20px 32px }
    .wrapper-content ol > li:before { width: 20px; height: 22px; padding-top: 1px }
    .wrapper-content ol > li { margin-bottom: 16px; padding-left: 16px; line-height: 1.4; font-weight: normal !important; }
    .wrapper-content ol > li img { margin: 8px 0 12px 0 }

    .wrapper-content li span.inside-ol { line-height: 0.6; display: block }
    .wrapper-content ol > li > ul { margin: 4px 0 0 16px; list-style-type: disc }
    .wrapper-content ol > li > ul > li { padding-left: 4px; margin: 0 0 12px 0 }
}


--------------------------------------------------------------*/



